<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2>About Us</h2>
                <p>
                    Kalpabriksha is a development platform that aims to provide growth
                and support to youth in Nepalese societies through various traditional
                as well as experimental initiatives.</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2>Useful Links</h2>
                <ul class="list-unstyled link-list">
                    <li><a ui-sref="about" href="#about">About Us</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="gallery" href="#gallery">Gallery</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="contact" href="#contact">Contact Us</a><i class="fa fa-angle-right"></i></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 map-img">
                <h2>Contact Us</h2>
                <address class="md-margin-bottom-40">
                    Kalpabriksha Nepal <br>
                    Chapagaun, Lalitpur <br>
                    Kathmandu, Nepal <br>
                    Phone: +977 9843389412 <br>
                    Email: <a href="mailto:contact@kalpabriksha.org" class="">contact@kalpabriksha.org</a><br>
                    Web: <a href="www.kalpabriksha.org" class="">www.kalpabriksha.org</a><br>
                    © 2023 Kalpabriksha | All rights reserved.
                </address>

            </div>
        </div>
        
        
    </div>
    

</footer>
