<div class="container">
    
    <h1>Kalpabriksha</h1>
    
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer">What is Kalpabriksha?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>
            Kalpabriksha is a youth organization founded by students pursuing higher education in 3 countries; Nepal, India, and The USA.
          </p>
        </div>
      </div>
    </div>
    
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-2" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-2">What does Kalpabriksha do?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>
            In one simple sentence, “Kalpabriksha works with youth for individual and social development.” Kalpabriksha provides opportunities, knowledge, and resources to youth for personal growth. We work with youth from different backgrounds, address their problems, and work together for collaborative solutions.          
        </p>
        </div>
      </div>
    </div>
    
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-3" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-3">What are the current programs of Kalpabriksha?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>
            The major program of Kalpabriksha currently is “Change: Because We Can.” “History: Gaze at The Maze”; a workshop on Nepalese History and “Yuwantar”; the annual youth event are other programs. Apart from that, Kalpabriksha conducts different collaborations, seminars, training, and interactions to promote youth development.          
        </p>
        </div>
      </div>
    </div>

    <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-3" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-3">What is “Change: Because We Can?”</label>
        <div class="faq-drawer__content-wrapper">
          <div class="faq-drawer__content">
            <p>
                “Change: Because We Can” is the flagship program of Kalpabriksha. In this program, we reach out to different schools of the country and teach students the concept of Mental Health, Youth and the Internet, the LGBTQA+ community, Harassment and Abuse faced by youth, Toxic Masculinity, and Gender Equality. We use interactive and outdoor learning methods to interact with students and make them understand the aforementioned sensitive issues in a fun yet impactful way.
            </p>
            </div>
        </div>
      </div>

      <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-3" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-3">How can I be a part of Kalpabriksha?</label>
        <div class="faq-drawer__content-wrapper">
          <div class="faq-drawer__content">
            <p>
                Kalpabriksha constantly hires volunteers for the “Change: Because We Can” campaign. You can fill up the form when we announce the vacancy and based on your form, you will be called for an interview. After you pass the interview, you become a part of Kalpabriksha.            
            </p>
            </div>
        </div>
      </div>

      <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-3" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-3">How can I be a part of Kalpabriksha?</label>
        <div class="faq-drawer__content-wrapper">
          <div class="faq-drawer__content">
            <p>
                Kalpabriksha constantly hires volunteers for the “Change: Because We Can” campaign. You can fill up the form when we announce the vacancy and based on your form, you will be called for an interview. After you pass the interview, you become a part of Kalpabriksha.            
            </p>
            </div>
        </div>
      </div>

      <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-3" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-3">How can I be a part of Kalpabriksha executive team?</label>
        <div class="faq-drawer__content-wrapper">
          <div class="faq-drawer__content">
            <p>
                You need to be a volunteer in the “Change: Because We Can” campaign first. After working as a volunteer for a certain period of time, you can apply for an executive position.         
            </p>
            </div>
        </div>
      </div>
    
  </div>
